[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
pandoc = "*"
plotnine = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.9"
